/*-------------------------------Universales------------------------------*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    font-family: 'Hanken Grotesk', sans-serif;
}
.row{
    padding: 0px 0px;
    margin: 0 !important;
}
/*---------------------------------Header------------------------------*/
#header-p{
    position: fixed;
    width: 100vw;
    transition: .3s ease-in-out;
    z-index: 2;
    background:rgb(114,58,235);
    overflow-x: hidden;
}
#box-logo{
    display: none;
}
/*Contenedor logo y contenedor nav*/
#header-p #box-logo , .nav-p{
    height: 80px;
}
/*Lista nav*/
.nav-lista-secciones{
    width: 100%;
}
/*items lista*/
.nav-lista-secciones .item-seccion{
    border:none;
}
/*items lista ANCLA*/
.item-seccion a{
    color: white ;
    transition: .1s ease-in-out;
    display: block;
}
.item-seccion:hover a{
    transform: translateY(-5px) ;
    color: #47caff;
}

/*SCROLL*/
.header-scroll{
    background:rgba(114,58,235,85%) !important;
}
/*------------------------------Secciones------------------------------*/
.seccion{
    width: auto;
    height: auto; 
    padding-top: 200px;
    padding-left: 0;
    padding-right: 0;
}
/*----------------------------Sección skills---------------------------*/
.seccion-inicio{
    padding-top: 160px !important;
}
.seccion-skills{
    background:linear-gradient(rgba(114,58,235,100%),rgba(114, 58, 235,0%));
    padding-top: 0px;
}
.descripcion{
    color: #3cddf4;
}
.parrafo{
    color:#333333;
}
#parrafo-sobremi{
    height: 72px;
    overflow-y: hidden;
    transition: 1s ease-in-out;
}
.btn-purple{
    display: block;
    background:#7054C0 ;
    color: white;
    height: 40px;
    line-height: 40px;
    width: 150px;
    border: 1.5px solid #7054C0;
    border-radius: 7px;
    transition: .1s ease-in-out !important;
    z-index: 11;
}
.btn-purple:hover{
    background: transparent;
    border: 1.5px solid white;
    color:white;
    
}
.img-perfil{
    border-radius: 14px;
    width: 100%;
    max-width: 300px;
    box-shadow: #78787840 0px 25px 30px;
}
.imagen-label{
    bottom: 0;
    right: 0;
    height: 30px;
    width: 150px;
    background: #D9D9D9;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
}
.circulo-disponibilidad{
    background: #00c669;
    transform: scale(1);
    animation-name: circuloDisponibilidad;
    transform-origin: center;
    

}
@keyframes circuloDisponibilidad{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: .9;
    }
}
.circulo-disponibilidad::after{
    content: ' ';
    width: 100%;
    height: 100%;
    background:  #48fea3;
    border-radius: 100%;
    position: absolute;

    animation-name: circuloDisponibilidad;
    animation-duration: 1s;
    animation-iteration-count: infinite; 
   
}
.slider-tenologias{
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);

    height: auto;
    overflow: hidden;

}
.lista-skills{
    display: flex;
    width: calc(100px * 26);
    overflow: hidden;
    animation: scroll 120s linear infinite;
}
.item-skill{
    width: 100px;
    text-align: center;   
}
.item-skill img{
    width: 35%;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100px * 13));
    }

}
.item-categoria-tec{
    height: fit-content;
    
}
.circulo-categoria{
    width: 12px;
    height: 12px;
}
h2{
    color: #333333;
}
/*---------------------------Sección proyectos-------------------------*/
.seccion-proyectos{
    background:white;
}

.mansory{
    columns: 1;
    column-gap: 10px;
    text-align: initial;
}
.item-mansory{
    width: auto;
    background:rgb(112, 84, 192);
    box-shadow: #bfa8ff48 0px 2px 10px;
    border-radius: 7px;
    margin-bottom: 25px;
    break-inside: avoid;
    transition: .2s ease-in-out;
}
.box-img-mansory{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    border-radius: 2px; 
    -webkit-mask-image: linear-gradient(to bottom,rgb(0, 0, 0) 0%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    overflow: hidden;
}
.img-proyecto{
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 2px;
    filter: grayscale(50%);
    opacity: .3;
   
    outline-offset: -10px;
    outline: #d8d8d8 2px solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
.img-proyecto:hover{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    filter: grayscale(0%);
    opacity: 1;
    outline: transparent 2px solid;
}
.titulo-proyecto{
    font-size: 20px;
    color:#47caff;
    font-weight:500;
    
}
.texto-proyecto{
    font-size: 14px;
    color:#ffffff;
}
.btn-github{
    background: #ffffff42;
    color: white;
    font-size: 14px;
}
.btn-icon{
    background: #1c1c1c;
    color: white;
    font-size: 14px;
}
#contenedor-input-categorias{
    text-align: center;
}
#contenedor-input-categorias input[type="radio"] {
    display: none;
  }
#contenedor-input-categorias input[type="radio"]:checked + label {
    background-color: #47caff; /* Nuevo color de fondo cuando se verifica */
}
  #contenedor-input-categorias  label {
    cursor: pointer;
    padding: 5px 20px;
    background: #7054C0;
    color: white;
    border-radius: 7px;
  }

  #contenedor-input-categorias #front-end:checked ~ #mansory .back-end {
    opacity: .2;
  }
  
  /* Muestra los elementos li con la clase .back-end cuando #back-end esté seleccionado */
  #contenedor-input-categorias  #back-end:checked ~ #mansory .front-end {
    opacity: .2;
  }
/*---------------------------Sección experiencia-------------------------*/
.seccion-experiencia{
    background:white;
    position: relative;
    -webkit-mask-image: linear-gradient(to bottom,rgb(0, 0, 0) 0%, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);

}
.contenedor-lista-experiencia{
    position: relative;
    padding-top: 50px;
}
.time-line-bar{
    width: 5px;
    height: 100%;
    background: #7054C0;
    position: absolute;
    top: 0;
    left: calc(10% - 12.5px);
    border-radius: 7px;
}
.animacion-barra-y{
    animation-name: barra-y-experiencia;
    animation-duration: 1.5s; 
}
@keyframes barra-y-experiencia{
    from{
        height: 0%;
    }
    to{
        height: 100%;
    }
}
.animacion-barra-y-out{
    animation-name: barra-y-experiencia-out;
    animation-duration: 1.6s ease-in-out;   
}
@keyframes barra-y-experiencia-out{
    from{
        height: 100%;
    }
    to{
        height: 0%;
    }
}

.lista-experiencia .item-experiencia{
    width: 80%;
    margin-bottom: 50px;
    position: relative;
    margin-left: 10%;
}
.lista-experiencia .item-experiencia h2{
    color: #47caff;
    font-size: 24px;
}
.lista-experiencia .item-experiencia p{
    color: white;
    font-size: 18;
}

.lista-experiencia .item-experiencia:nth-child(even){    
    margin-left: 10%;
}
.contenedor-textos-experiencia{
    border-radius: 7px;
    background-color: #7054C0;
    box-shadow: #ebebeb 0px 20px 30px;
    /*-webkit-mask-image: linear-gradient(to bottom,rgb(0, 0, 0) 0%, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);*/
}
.lista-experiencia .item-experiencia:nth-child(odd) h2{
    text-align: right;
}
.lista-experiencia .item-experiencia:nth-child(odd) p{
    
    text-align: right;
}
.point-experencia{
    position: absolute;
    width: 30px;
    height: 30px;
    background:#47caff;
    z-index: 2;
    border-radius: 100%;
    line-height: 30px;
    font-size: .9em;
    color: #47caff;
}
.point-right{
    left: -25px;
    top: calc(50% - 15px);
}
.point-left{
    left: -25px;
    top: calc(50% - 15px);
}
/*------------------------------Contactos------------------------------*/
#contenedor-modal{
    height: 100dvh;
    z-index: 13;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 9) 25%, rgba(0, 0, 0,9) 75%, rgba(0, 0, 0, .8) 100%);
    background-color: rgba(25, 24, 24, .9);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-g{
    height: 300px;
    width:  1000px;
    overflow-y: auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    background: linear-gradient(rgba(85, 33, 196, 0.95), rgba(253, 194, 254, 0.95));
    position: relative;
}
.img-modal{
    width: 90%;
  
}
.btn_cerrar_modal{
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
}
/*------------------------------Popovers------------------------------*/
.PopRed {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: none !important;
    --bs-popover-header-bg: #dd4747 !important;
    --bs-popover-header-color: #ffffff !important;
    --bs-popover-bg: #1f1f1f !important;
    --bs-popover-body-color: #ffffff !important; 
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }
  .PopYellow {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: none !important;
    --bs-popover-header-bg: #f8d50f !important;
    --bs-popover-header-color: #ffffff !important;
    --bs-popover-bg: #1f1f1f !important;
    --bs-popover-body-color: #ffffff !important; 
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }
  .PopGreen {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: none !important;
    --bs-popover-header-bg: #88c054 !important;
    --bs-popover-header-color: #ffffff !important;
    --bs-popover-bg: #1f1f1f !important;
    --bs-popover-body-color: #ffffff !important; 
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }
   /*------------------------------Scrollbar------------------------------*/
   footer{
    
    background: #121212;
   }
  /*------------------------------Scrollbar------------------------------*/
  .seccion-proyectos::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .seccion-proyectos::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  .seccion-proyectos::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
  }

  body{
    position: relative;
  }
  body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }

  .btn-hojavida {
    font-size: .8em;
    color: #7054C0;
    border: 1px solid #7054C0;
    bottom: 70px;
    padding: 5px 7px;
    right: 10px;
    animation:BtnHoja;
    animation-duration: 2s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes BtnHoja {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

#background-carta{
    width: 100vw;
    height: 100%;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 9) 25%, rgba(0, 0, 0,9) 75%, rgba(0, 0, 0, .5) 100%);
    position: absolute;
    background-color: rgba(167, 81, 243, 0.8);
    top: 0;    
    transition: .140s ease-in-out;
    opacity: 0;
    display: none;
    z-index: 10;
}

.carta-perfil{
    width: 60%;
    min-width: 350px;
    min-height: 500px;
    position: absolute;
    left: 50%;
    box-shadow: #0000002e 0px 5px 10px 5px;
    background: linear-gradient(rgba(85, 33, 196, 0.95), rgba(253, 194, 254, 0.95));
    display: none;
    opacity: 0;
    transition: .150s ease-in-out;
    z-index: 12;
    top: 60px;
    transform: translateX(-50%) translateY(0%);
}

.carta-box{
    flex-direction: column;
    align-items: center;
}

.carta-box div h2{
    text-wrap:balance;
}

.carta-box div p, .carta-box div small{
    text-wrap: pretty;
}